<style>
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem 100px;
    }
    
    div {
        width: fit-content;
        text-align: center;
    }
    
    ul {
        list-style: none;
        padding: 0;
    }
    
    a,
    button {
        padding: 0;
        cursor: pointer;
    }
    
    .navbar-brand {
        height: 2.5rem;
    }
    
    .navbar-button-container {
        margin-left: auto;
    }
    
    .navbar-button-item,
    .navbar-list-item * {
        color: #9793AE;
        background: none;
        border: none;
        font-size: 1rem;
        margin-left: 1rem;
    }
    
    .navbar-list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding: 0.5rem;
    }
    
    .navbar-list-container {
        position: absolute;
        top: 4rem;
        right: 100px;
        display: none;
        border: #9793AE 1px solid;
        border-radius: 10px;
    }
    
    .navbar-list-item {
        margin: 0.3rem 0.5rem;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        let button = document.querySelector(".navbar-button-list");
        let counter = 0;
        button.addEventListener("click", () => {
            if (counter == 0) {
                document.querySelector(".navbar-list-container").style.display = "flex";
                counter++;
            } else if (counter == 1) {
                document.querySelector(".navbar-list-container").style.display = "none";
                counter--;
            };
        });
    });
</script>

<nav>
    <div>
        <img src="../../svg/typlish_logo.svg" alt="logo" class="navbar-brand">
    </div>
    <div class="navbar-button-container">
        <a href="/home" class="navbar-button-item">홈으로</a>
        <button class="navbar-button-item">다크테마</button>
        <button class="navbar-button-item navbar-button-list">사용자</button>
    </div>
    <div class="navbar-list-container">
        <ul class="navbar-list">
            <li class="navbar-list-item">
                <a href="">마이페이지</a>
            </li>
            <li class="navbar-list-item">
                <button>로그아웃</button>
            </li>
        </ul>
    </div>
</nav>