<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/main.css">
    <title>typlish</title>
</head>

<style>
    .home_grade-button-container {
        margin-top: 50px;
    }
    
    .home_grade-button {
        margin-right: 16px;
        height: 3rem;
        width: 10rem;
        font-size: 1.1rem;
        font-weight: 600;
        border: none;
        border-radius: 16px;
        color: #9793AE;
        background: #ECEBF2;
    }
    
    .active {
        color: white;
        background: #907DFF;
    }
    
    .paragraph-table-container {
        margin-top: 100px;
        text-align: left;
        width: 100%;
    }
    
    .paragraph-table {
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
    }
    
    td {
        padding: 0.4rem 0;
        color: #625F74;
    }
    
    a {
        color: #625F74;
    }
    
    a:focus {
        color: #907DFF;
    }
    
    .title {
        width: 80%;
    }
    
    .date {
        width: 10%;
    }
    
    .record {
        width: 10%;
    }
    
    .title,
    .date,
    .record {
        color: #9793AE;
        border-bottom: #ECEBF2 1px solid;
    }
    
    .paragraph-table-container p {
        font-size: 1.8rem;
        font-weight: 700;
        color: #504D66;
    }
</style>

<body>

    <%- include('./nav.ejs')%>

        <section>
            <div class="home_grade-button-container">
                <button class="home_grade-button active">1학년</button>
                <button class="home_grade-button" onclick="alert('Work In Progress')">2학년</button>
                <button class="home_grade-button" onclick="alert('Work In Progress')">3학년</button>
            </div>
            <form action="/paragraph" method="get">
                <div class="paragraph-table-container">
                    <p>교과서 본문</p>
                    <table class="paragraph-table">
                        <tr>
                            <td class="title">제목</td>
                            <td class="date">시험기간</td>
                            <td class="record">타자기록</td>
                        </tr>
                        <% for (let i = 1; i <=3; i++){ %>
                            <tr>
                                <td>
                                    <a href="/paragraph">
                                        <%=i%>. title
                                    </a>
                                </td>
                                <td>
                                    date
                                </td>
                                <td>
                                    record
                                </td>
                            </tr>
                            <% } %>
                    </table>
                </div>
                <div class="paragraph-table-container">
                    <p>모의고사 지문</p>
                    <table class="paragraph-table">
                        <tr>
                            <td class="title">제목</td>
                            <td class="date">시험기간</td>
                            <td class="record">타자기록</td>
                        </tr>
                        <% for (let i = 1; i <=3; i++){ %>
                            <tr>
                                <td>
                                    <a href="/typing">
                                        <%=i%>. title
                                    </a>
                                </td>
                                <td>
                                    date
                                </td>
                                <td>
                                    record
                                </td>
                            </tr>
                            <% } %>
                    </table>
                </div>
            </form>

        </section>

</body>

</html>