<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/main.css">
    <title>typlish</title>
</head>

<body>

    <%- include('./components/nav.ejs')%>
        <div class="container">
            <a href="/typing">
                <img src="../img/typing_off.svg" alt="typing">
            </a>
            <a href="/paragraph">
                <img src="../img/book_on.svg" alt="paragraph">
            </a>
        </div>
</body>

</html>