<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Typlish</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    .goTo-button-container {
        margin: 50px 0;
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
    }
</style>

<body>

    <%- include('./nav.ejs')%>
        <section>
            <div class="goTo-button-container">
                <a href="/typing" class="goTo-button">
                    <img src="../svg/typing_on.svg" alt="typing_on">
                </a>
                <a href="/paragraph" class="goTo-button">
                    <img src="../svg/paragraph_off.svg" alt="paragraph_off">
                </a>
            </div>
            <div class="wrapper">

                <%for (let i=0;i<10;i++){%>
                    <div>
                        <p></p>
                        <input type="text">
                    </div>
                    <%}%>




                        <input type="text" class="input-field" style="ime-mode:inactive">
                        <div class="content-box">
                            <div class="typing-text">
                                <p></p>
                            </div>
                            <div class="content">
                                <ul class="result-details">
                                    <li class="time">
                                        <p>Time:</p>
                                        <span><b>0</b></span>
                                    </li>
                                    <li class="acc">
                                        <p>Accuracy:</p>
                                        <span>0</span>
                                    </li>
                                    <li class="cpm">
                                        <p>CPM:</p>
                                        <span>0</span>
                                    </li>
                                </ul>
                                <button>submit</button>
                                <div class="mistaken">
                                    <p>오타 check!</p>
                                    <span></span>
                                </div>
                            </div>
                        </div>
            </div>
        </section>
        <script src="/js/paragraphs.js"></script>
        <script src="/js/script.js"></script>

</body>

</html>