<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Typlish</title>
    <link rel="preload" as="style" href="/public/style.css" onload="this.onload=null;this.rel='StyleSheet'">
    <link rel="preload" as="style" href="/public/main.css" onload="this.onload=null;this.rel='StyleSheet'">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    .goTo-button-container {
        margin-top: 50px;
    }
    
    .paragraph-container {
        margin-top: 50px;
        text-align: left;
        width: 100%;
        color: #625F74;
    }
    
    .paragraph-table {
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
    }
    
    .title {
        font-size: 1.8rem;
        font-weight: 700;
        width: 80%;
    }
    
    .date {
        width: 10%;
    }
    
    .record {
        width: 10%;
    }
    
    .paragraph-container p {
        margin: 3rem 0;
        font-size: 1.2rem;
        font-weight: 400;
        padding-left: 5px;
    }
</style>

<body>

    <%- include('./nav.ejs')%>
        <section>
            <div class="goTo-button-container">
                <a href="/typing" class="goTo-button">
                    <img src="../svg/typing_off.svg" alt="typing_off">
                </a>
                <a href="/paragraph" class="goTo-button">
                    <img src="../svg/paragraph_on.svg" alt="paragraph_on">
                </a>
            </div>
            <div class="wrapper">
                <textarea type="text" class="input-field"></textarea>
                <div class="content-box">
                    <div class="typing-text">
                        <p></p>
                    </div>
                    <div class="content">
                        <ul class="result-details">
                            <li class="time">
                                <p>Time:</p>
                                <span><b>0</b>s</span>
                            </li>
                            <li class="acc">
                                <p>Accuracy:</p>
                                <span>0</span>
                            </li>
                            <li class="cpm">
                                <p>CPM:</p>
                                <span>0</span>
                            </li>
                        </ul>
                        <button>submit</button>
                        <div class="mistaken">
                            <p>오타 check!</p>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="/js/paragraphs.js" async></script>
        <script src="/js/script.js" async></script>

</body>

</html>