<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Typlish</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    .goTo-button-container {
        margin-top: 50px;
    }
</style>

<body>

    <%- include('./nav.ejs')%>
        <section>
            <div class="goTo-button-container">
                <a href="/typing" class="goTo-button">
                    <img src="../svg/typing_off.svg" alt="typing_on">
                </a>
                <a href="/paragraph" class="goTo-button">
                    <img src="../svg/paragraph_on.svg" alt="paragraph_off">
                </a>
            </div>
            <div class="wrapper">
                <input type="text" class="input-field">
                <div class="content-box">
                    <div class="typing-text">
                        <p></p>
                    </div>
                    <div class="content">
                        <ul class="result-details">
                            <li class="time">
                                <p>Time:</p>
                                <span><b>0</b>s</span>
                            </li>
                            <li class="acc">
                                <p>Accuracy:</p>
                                <span>0</span>
                            </li>
                            <li class="cpm">
                                <p>CPM:</p>
                                <span>0</span>
                            </li>
                        </ul>
                        <button>submit</button>
                        <div class="mistaken">
                            <p>오타 check!</p>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="/js/paragraphs.js"></script>
        <script src="/js/script.js"></script>

</body>

</html>