@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
* {
    font-family: 'pretendard';
    text-decoration: none;
}

body {
    margin: 0;
}

section {
    margin: 0 20%;
}

*:focus {
    outline: none;
}

input {
    ime-mode: disabled;
}